@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

body {
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

nav {
    padding: 5px;
    height: 66px;
    background-color: red;
}

nav .sidenav-trigger {
    float: right;
}

nav .brand-logo {
    font-size: 20px;
}

.main-content {
    padding: 16px;
    background-color: black;
    text-align: center;
}

.main-content h1 {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0 0 24px 0;
}

.description {
    color: white;
    text-align: center;
    margin: 0 0 48px 0;
    font-size: 16px;
}

.input-field {
    margin: 0 0 16px 0;
}

.submit {
    margin-bottom: 15px;
    background-color: red !important;
    height: 50px;
    width: 200px;
    font-size: 18px;
}

.food-results {
    margin-top: 50px;
}

.food-results .row {
    margin: 50px 0;
}

.movie-results .row {
    margin: 50px 0;
}

.modal {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 900px;
  max-width:100%;
  height: 500px;
  max-height: 100%;
  background-color: black;
  color: white;
  overflow:auto;
  padding:20px 50px 20px 20px;
  border: 1px solid red;
}

.card-container {
    border-radius: 3px;
}

.card-action {
    background-color: red !important;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}

.movies-title,
.food-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
}

.more-details,
.view-recipe, 
.view-movie {
    display: block;
    width: 100%;
}

.form-container {
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 15px;
}

@media (min-width: 993px) {
    nav .brand-logo {
        left: 0;
    }

    .main-content {
        padding: 24px;
        background-color: black;
    }

    .description {
        font-size: 18px;
    }

    .form-container {
        display: flex;
        justify-content: space-between;
    }

    .form-container .input-field {
        width: 48%;
    }

    .card-container {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    .card-action {
        padding: 12px 0px !important;
    }

    .card-action a {
        margin: 0 auto !important;
    }

    .movie-results,
    .food-results {
        display: flex;
        align-items: stretch;
        margin-top: 0px;
    }

    .saved-movies,
    .saved-food {
        display: flex;
        padding: 0 24px;
        justify-content: start;
        flex-wrap: wrap;
    }

    .movies-title,
    .food-title {
        font-size: 24px;
        font-weight: bold;
        padding-left: 20px;
        margin-bottom: 20px;
        color: white;
    }

    .movie,
    .food {
        width: 17%;
        margin-right: 20px;
    }

    .movie-title,
    .recipe-title {
        font-weight: bold;
        margin-bottom: 15px !important;
        font-size: 18px;
        text-align: center;
    }

    .save-movie,
    .view-recipe,
    .save-recipe {
        cursor: pointer;
        border: none;
    }

    .saved-food .card-action {
        border-bottom: none;
    }

    .saved-movies .card-action {
        border-bottom: none;
    }

    .saved-food .view-recipe {
        color: white !important;
    }

    .saved-movies .view-movie {
        color: white !important;
    }

    .food-results .view-recipe {
        border-bottom: 1px solid white;
    }

    .food-results .row {
        margin-top: 0;
    }
}